### Chat server

# SERVER_NAME=0.0.0.0
# SERVER_PORT=7860

### Model and Provider (see: https://docs.litellm.ai/docs/providers)

# MODEL=openrouter/qwen/qwen-2.5-coder-32b-instruct:free
# API_BASE=http://localhost:1234/v1

### OpenRouter (https://openrouter.ai/)
# OPENROUTER_API_KEY=your_api_key
