[server]
### If run as a container, ensure you find all interfaces using 0.0.0.0
# address = 0.0.0.0
# port = 8000
# workers = 3

[provider]
### Configuration for an OpenAI chat compatible endpoint

# Local ollama server
# api_base = http://localhost:11434
# container host lemonade server
# api_base = http://host.containers.internal:3030/api/v1

# api_key =

# default_model = olmo-3

[persistence]
# data_dir = ~/.local/share/relagent/data

[web]
# source_directory = ./web

[instrumentation]
# service_name = relagent-engine
# otlp_endpoint = http://localhost:4318
# gen_ai_collector_enabled = true

[debug]
# raw_data_dump = true
