[Unit]
Description=Relagent chat server

[Container]
Image=registry.gitlab.com/rmmsr/relagent
PublishPort=3000:7860
Environment=OPENROUTER_API_KEY
AutoUpdate=Registry

[Service]
Restart=always
