[Unit]
Description=Relagent engine

[Container]
Image=registry.gitlab.com/rmmsr/relagent:0.1.13
AutoUpdate=registry
PublishPort=8000:8000
ReadOnly=true
UserNS=keep-id:uid=1000,gid=1000
Volume=%h/.local/share/org.venkado.relagent-engine/settings.ini:/app/.local/share/org.venkado.relagent-engine/settings.ini:ro
Volume=%h/.local/share/org.venkado.relagent-engine/data:/app/.local/share/org.venkado.relagent-engine/data:rw

[Install]
WantedBy=default.target

[Service]
Restart=always
