[Unit]
Description=Relagent chat server

[Container]
Image=registry.gitlab.com/rmmsr/relagent
AutoUpdate=registry
PublishPort=3000:7860
Volume=%h/.config/relagent/settings.ini:/root/.config/relagent/settings.ini:ro

[Service]
Restart=always
